@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto+Condensed", sans-serif;
    font-weight: 400;
    background-color: rgba(0,0,0,0.9)
}

/*--------------------------------------- Background colours*/



/*--------------------------------------- Header*/

.container-fluid{
    padding: 0;
}

.name{
    padding-left: 20px;
    padding-top:  9px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,123,255,.5);
}

/*--------------------------------------- Hero Image*/

#hero-image{
    height: 80vh;
    width: 100vw;
    background: url("../images/Head_Liam_Gaffney.jpg") no-repeat center center;
    position: absolute;
}

#hero-outer{
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}


/*--------------------------------------- Headings*/

.heading {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    color: rgba(0,123,255,.5);
    text-transform: uppercase;
}

.sub-heading{
    text-align: center;
    padding-top: 10px;
}

/*--------------------------------------- Showreel*/

.media-text{
    font-size: 100%;
    width: 70%;
    text-align: center;
    margin: 10px;
    padding-right: 15px;
    color: #fff;
}

/* .showreel-video{
    display: block;
    margin: 0 auto;
} */

/*--------------------------------------- Section spacing*/

.content-section{
    height: 555px;
}

.content-footer{

}

/*--------------------------------------- Gallery*/

.carousel-item{
    float: none;
}

.carousel-img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}