@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto+Condensed", sans-serif;
    font-weight: 400;
}

/*--------------------------------------- Background colours*/



/*--------------------------------------- Header*/

.container-fluid{
    padding: 0;
}

.name{
    padding-left: 20px;
    padding-top:  9px;
}

.navbar{
    /* padding: 0; */
}



/*--------------------------------------- Hero Image*/

#hero-image{
    height: 85vh;
    width: 100%;
    background: url("../images/Head_Liam_Gaffney.jpg") no-repeat center center;
}

#hero-outer{
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


/*--------------------------------------- Headings*/

.heading {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    color: rgba(0,123,255,.5);
}


/*--------------------------------------- Media query*/

