@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;700&display=swap');

body{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: "Roboto+Condensed", sans-serif;
    font-weight: 400;
    background-color: #243c56;
    max-width: 2000px;
}

a{
    color: #0080ff;
}

/*--------------------------------------- Background colours*/

.bg-name-nav{
    background-color: rgba(0,0,0,0.4)
}
    
.bg-colour{
    background-color: #243c56;
}

/*--------------------------------------- Header*/

header{
    background: url("../images/hero_img.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    width: 100%;
    position: relative;
}

.container-fluid{
    padding: 0;
}

.name{
    padding-left: 20px;
    padding-top:  9px;   
}

.navbar-light .navbar-nav .nav-link{
    color: #00e6e6;
    font-weight: 600;   
    text-align: right;
}

.navbar-light .navbar-toggler{
    color: #00e6e6;
    border-color: #00e6e6;
}

/*--------------------------------------- Text styles*/

.heading {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 2.13rem;
    color: #00e6e6;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.sub-heading{
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
}

.media-text{
    font-size: 1.06rem;
    width: 70%;
    text-align: center;
    padding-right: 15px;
    color: #FFFAF0;
}

.footer-headings{
    color: #00e6e6;
    text-align: center;
}

.footer-text{
    font-size: 1.06rem;
    padding-right: 15px;
    color: #fffaf0;
    padding-left: 15px;
    text-align: center;
    margin-top: 20px;
}

.footer-text p a{
    margin-top: 20px;
}

  .about-text{
    font-size: 1.06rem;
    padding-right: 15px;
    color: #fffaf0;
    padding-left: 15px;
}

/*--------------------------------------- Section spacing*/

.content-showreel{
    height: 65%;
    width: 100%;
    border-bottom: solid 1px #fffaf033;
}

.content-contact{
    height: 90%;
    width: 100%;
}

.content-footer{
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
    border-top: solid 1px #fffaf0;
}

/*--------------------------------------- Showreel*/

iframe{
    width: 50rem;
    height: 25rem;
    border: none;
}

.showreel-video{
    margin-bottom: 20px;
}

/*--------------------------------------- About me*/

.about-image{
    height: 25rem;
    width: 18.75rem;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px
}

/*--------------------------------------- Gallery*/

.carousel-position{
    margin: auto;
    padding-bottom: 20px;
}

.carousel-inner > .carusel-item > img{ 
    width: 50rem;
    height: 18.75rem; 
    -o-object-fit: cover; 
       object-fit: cover;
    overflow: hidden;
}

/*--------------------------------------- Contact*/

.footer-border{
    border-right: solid 1px #00e6e6;
     border-bottom: solid 1px #00e6e6;
}

.button-img{
    height: 5rem;
    width: 6.88rem;
    border-radius: 25px;
}

.buttons{
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-text{
    display: inline-block;
    color: #fffaf0;
    margin-left: 15px;
    text-align: justify;
    margin-top: 15px;
}

.contact-text-input{
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    margin-left: 15px;
    border: solid 2px #00e6e6;
    border-radius: 10px;
}

.contact-submit-input{
    margin: auto;
    display: block;
    color: #fffaf0;
    background-color: #00e6e6;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*----------------------------------------- footer*/

.social-links{
padding-top: 10px;
}

.social-links li a i{
    width: 2.25rem;
    height: 2.19rem;
    padding: 10px;
    margin-top: 5px;
    padding-right: 20px;
    border-radius: 36%;
    font-size: 15px;
    color: #ddd;
    background-color: #3366ff;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color: #343a40;
}